Cache/*
Resources/*
.DS_Store
Blender/*.blend1
venv/*
**/__pycache__/*
data/f1_data.db
data/*
src/fastf1_fetcher/models/*
src/fastf1_fetcher/mlx_models/*
dbt/logs/*
dbt/f1_analytics/target/*
.claude/
.venv/*
/logs
